Auto/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AutokauppaWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AutokauppaWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Autodata">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutonMalliID" type="xs:int" />
      <xs:element minOccurs="0" name="AutonMerkkiID" type="xs:int" />
      <xs:element minOccurs="0" name="Hinta" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Merkki" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mittarilukema" type="xs:int" />
      <xs:element minOccurs="0" name="Moottorin_tilavuus" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolttoaineID" type="xs:int" />
      <xs:element minOccurs="0" name="Polttoaineen_nimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rekisteri_paivamaara" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Varin_nimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VaritID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autodata" nillable="true" type="tns:Autodata" />
</xs:schema>